<!DOCTYPE html>
<html lang="en">

<%- include('Partials/head') %>


    <body>
        <%- include('Partials/navbar') %>
            <h1>The Home Page <%="heelo world".toUpperCase(); %>
            </h1>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis sint accusantium deserunt quisquam,
                esse
                asperiores pariatur ad mollitia quaerat possimus temporibus, laboriosam nesciunt minus consequuntur a
                repellat
                eius eum vel.</p>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum rem officiis ipsam consequuntur similique
                id
                dicta, doloremque, fuga adipisci neque mollitia laboriosam? Aliquid quas ad vitae perspiciatis iure!
                Dolores,
                eveniet.</p>




    </body>

</html>